*{
  box-sizing: border-box;
  margin-top:7.5px;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(225, 232, 235);
}


.class-container{
 width:100vw;

  display:grid;
 ;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  
}


.img-container{


  display:flex;
  flex-direction: column; 
  
}



img{
  height:300px;
  width:300px;
  border-radius:10px;
}

.files{
  display:none;
 
}

.btn-upload{
  /* background-image: url(./upload.svg); */
  color:rgb(12, 121, 184);
  border:2px solid rgb(58, 91, 97);
  background-repeat: none;
  height:28px;
  width:70px;
  padding-top:2px;
  text-align: center;
  display: inline-block;
  align-content: center;
  position:relative;
  left:50%;
}


.btn-upload:hover{
  cursor: pointer;
  transform:scale(0.9);

}


.error-container{
  display: inline;
  position: relative;
  left:45%;
  color:red;
}



@media only screen and (max-width: 600px) {
  .class-container {
    
    grid-template-columns:1fr  ;
  }

  .error-container{
    display: inline;
    position: relative;
    left:25%;
    color:red;
  }

  img{
    height:300px;
    width:250px;
    border-radius:10px;
  }
}